# Ignore node_modules and log files
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore build files (to avoid copying the build folder unnecessarily during development)
build
dist

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore temporary files and OS-related files
*.swp
*.swo
.DS_Store
Thumbs.db

# Ignore git-related files
.git
.gitignore

# Ignore tests (optional)
tests

# Ignore editor and IDE files
.vscode
.idea

# Ignore image assets if not required in the image
*.png
*.jpg
*.jpeg
*.svg
*.gif
homePage.png
logo.png
